{{ bootstrap.load_css() }}



<!-- Display information and correct resolution -->
<div class="container">
    <h1>Movie Detail</h1>

    <br>
    <figure>
        <img src=" {{selected_id['Poster']}}" class="img-fluid rounded" alt="">
        <figcaption> <h3> {{ selected_id['Title'] }} </h3></figcaption>
    </figure>

    <b>Runtime: </b>{{selected_id['Runtime']}}
    <br>

    <b>Genre: </b>{{selected_id['Genre']}}
    <br>
    
    <b>Director: </b>{{selected_id['Director']}}
    <br>

    <b>Released Date: </b>{{selected_id['Released']}}
    <br>

    <b>Language: </b>{{selected_id['Language']}}
    <br><br>

    <b>Ratings</b>
    <br>

    <b>{{selected_id['Ratings'][0]['Source']}}: </b> {{selected_id['Ratings'][0]['Value']}}
    <br>

    <b>{{selected_id['Ratings'][1]['Source']}}: </b>{{selected_id['Ratings'][1]['Value']}}
    <br><br>

    <b>Summary: </b><q>{{selected_id['Plot']}}</q>
    <br><br><br>
    
    <a href="{{ url_for('home') }}">
        <button type="button" class="btn btn-primary">Return</button>
    </a>

